.searchBox {
    
    &__input {
        background-color: (rgba(49, 49, 49, 0.315));        
        margin: 4%;
        margin-top: 12%;
        height: 3%;
        width: 90%;
        font-size: 1.3em;
    }
}