.navContainer {
    width: 15vw;
    font-weight: bolder;
    color: rgba(49, 49, 49, 0.781);    
    flex-direction: column;
    border-left: 4px solid rgba(0, 0, 0, 0.404);
    border-top: 4px solid rgba(0, 0, 0, 0.404);
    border-bottom: 4px solid rgba(0, 0, 0, 0.404);
    
    

    &__input {
        background-color: (rgba(49, 49, 49, 0.315));        
        margin: 4%;
        margin-top: 12%;
        height: 3%;
        width: 90%;
        font-size: 1.3em;
    }

    &__checkInput {
        margin-top: 20%;
        margin-left: 10%;
        font-size: 1.3em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        
    }

    #ph {
       font-size: larger;
    }

}