.navContainer {
    width: 15vw;
    font-weight: bolder;
    color: rgba(49, 49, 49, 0.781);    
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.404) ;
    // border-left: 4px solid rgba(0, 0, 0, 0.404);
    // border-top: 4px solid rgba(0, 0, 0, 0.404);
    // border-bottom: 4px solid rgba(0, 0, 0, 0.404);  

   

    input[type="checkbox"] {
        font: inherit;
        width: 1.15em;
        height: 1.15em;
        
    }

    &__cross{
        margin-top: 8%;
        margin-left: 8%;
    }


    &__checkInput {
        margin-top: 20%;
        margin-left: 10%;
        font-size: 1.3em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        appearance: none;
        filter: brightness(40%);
        
    }

}